
<%- include("partials/header"); -%>
    <h1>Home</h1>


  <%  posts.forEach(function(post){ %>
    <h3><%=post.title%></h3>
    <!-- Display the first 100 char -->
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>


    <% }) %>


<%- include("partials/footer"); -%>
